<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWrZPDYus6SJrePuuWm0ysah8_OG9hgV0</string>
	<key>GCM_SENDER_ID</key>
	<string>936659925569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rhiz0m.trainingApp</string>
	<key>PROJECT_ID</key>
	<string>trainingapp-3333c</string>
	<key>STORAGE_BUCKET</key>
	<string>trainingapp-3333c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936659925569:ios:098d633d48ed8a5e9de4c0</string>
</dict>
</plist>